<v-container class="fill-height register-container">
  <v-row align="center" justify="center">
    <v-form
      v-model="valid"
      ref="registerForm"
      lazy-validation
      class="mt-6 register-form-box custom-text-field"
    >
      <h3 class="mb-1 font-semibold-36 grayScale0--text">
        Welcome to chainitix
      </h3>
      <h6 class="mb-6 font-regular-14 grayScale1--text">
        To complete registation, enter your informations
      </h6>
      <v-row class="mx-n2">
        <v-col md="6" class="px-2">
          <v-text-field
            filled
            flat
            dense
            height="56"
            label="First name"
            :rules="requiredRule"
            v-model="form.firstName"
          ></v-text-field>
        </v-col>
        <v-col md="6" class="px-2">
          <v-text-field
            filled
            flat
            dense
            height="56"
            label="Last name"
            :rules="requiredRule"
            v-model="form.lastName"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-text-field
        filled
        flat
        dense
        height="56"
        label="Company name"
        :rules="requiredRule"
        v-model="form.companyName"
      ></v-text-field>
      <v-autocomplete
        filled
        dense
        height="56"
        label="Country"
        :items="countries"
        v-model="form.country"
        :rules="requiredRule"
      ></v-autocomplete>
      <div class="password-input-wrapper">
        <v-text-field
          filled
          flat
          dense
          height="56"
          label="Password"
          :rules="passwordRules"
          v-model="form.password"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? '$EyeShowVisible' : '$EyeHidden'"
          @click:append="showPassword = !showPassword"
          @input="validatePassword"
          @focus="reInitValidation"
          @blur="reInitValidation"
        ></v-text-field>
        <div
          :class="{'password-validation-list' : !$vuetify.breakpoint.smAndDown}"
          v-if="isFocused"
        >
          <p class="font-medium-12 grayScale1--text mb-2">Password must:</p>
          <ul class="mb-2 px-0">
            <li
              v-for="item in regexErrors"
              :key="item.type"
              class="d-flex align-center mb-1"
            >
              <div
                class="bullet"
                :class="{'active' : item.status === 'checked'}"
              ></div>
              <span class="font-regular-12 grayScale1--text ms-2"
                >{{ item.message }}</span
              >
            </li>
          </ul>
        </div>
      </div>
      <v-text-field
        filled
        flat
        dense
        height="56"
        label="Repeat password"
        :rules="repeatPasswordRules"
        v-model="form.repeatPassword"
        :type="showPassword ? 'text' : 'password'"
        :append-icon="showPassword ? '$EyeShowVisible' : '$EyeHidden'"
        @click:append="showPassword = !showPassword"
      ></v-text-field>
      <div class="app-checkbox checkbox-with-hint">
        <v-checkbox
          color="primary"
          v-model="form.acceptTerms"
          class="mt-0"
          :rules="acceptTermsRules"
        >
          <template v-slot:label>
            <v-hover v-slot="{ hover }">
              <v-row align="center" class="ma-0">
                <div
                  class="me-2 custom-checkbox checkbox-with-hint"
                  :class='[form.acceptTerms ? "primary" : hover ? "grayScale4" : "grayScale7" , { "custom-checkbox-border": !form.acceptTerms}]'
                >
                  <v-row
                    justify="center"
                    align="center"
                    class="ma-0 fill-height"
                  >
                    <v-icon
                      size="15"
                      :color='hover && !form.acceptTerms ? "grayScale2" : "grayScale0"'
                      v-if="form.acceptTerms || hover"
                      >$CheckIcon</v-icon
                    >
                  </v-row>
                </div>
                <div class="grayScale0--text font-regular-14">
                  <span>I accept the</span>
                  <v-hover v-slot="{hover}">
                    <router-link
                      to="/terms-of-service"
                      class="px-1 primaryLight--text font-regular-14 border-radius-20"
                      :class="{ 'grayScale5' : hover}"
                      >Terms of service.
                    </router-link>
                  </v-hover>
                </div>
              </v-row>
            </v-hover>
          </template>
        </v-checkbox>
      </div>
      <v-btn
        x-large
        color="primary"
        dark
        to="/auth/register/completed"
        block
        class="mt-4 border-radius-12 font-medium-14"
      >
        Register
      </v-btn>
      <!--      <v-row
        class="mb-7 mt-4 grayScale0&#45;&#45;text font-regular-14"
        justify="center"
      >
        <span>Already have an account? </span>
        <router-link
          to="/auth/login"
          class="primaryLight&#45;&#45;text font-regular-14 ms-1"
          >Login</router-link
        >
      </v-row>-->
    </v-form>
  </v-row>
</v-container>
