//global
body {
  background: var(--v-grayScale7-base);
}
.v-application--wrap {
  background: var(--v-grayScale8-base) !important;
}

a {
  text-decoration: none;
  color: inherit !important;
}
ul {
  list-style: none;
}
.v-divider {
  border-color: var(--v-grayScale5-base) !important;
}
a {
  &.primaryLight--text {
    transition: 0.3s;
    &:hover {
      color: var(--v-grayScale1-base) !important;
    }
  }
}
.v-btn--outlined {
  &.primaryLight--text {
    border: 1px solid #3a5778;
  }
}

.rotate180 {
  transform: rotate(180deg);
}

.cursor-pointer {
  cursor: pointer;
}
//custom class
.v-icon {
  svg {
    stroke: currentColor;
  }
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}

.primary-background-gradiant {
  background: linear-gradient(
    106.46deg,
    var(--v-grayScale7-base) 0%,
    var(--v-grayScale10-base) 99.22%
  );

  &.hover-border {
    //border: 1px solid white;
    border-color: transparent !important;
    border-style: solid;
    border-width: 1px;
  }
  &.hover-able {
    transition: all 1s;
    &:hover {
      border-color: #2a4563 !important;
      border-style: solid;
      border-width: 1px;
      background: linear-gradient(
        106.46deg,
        var(--v-grayScale7-base) 0%,
        var(--v-grayScale7-base) 99.22%
      );
      * {
        color: var(--v-grayScale0-base) !important;
      }
    }
  }
}
.background-transparent {
  background-color: transparent !important;
}

.background-transparent {
  background-color: transparent !important;
}
.v-btn.v-btn--has-bg.primary {
  transition: all 0.2s;
  &:hover {
    background-color: var(--v-primaryDark-base) !important;
    border-color: var(--v-primaryDark-base) !important;
  }
}

.v-main {
  overflow: hidden;
}
