<v-container class="fill-height register-container">
  <v-row align="center" justify="center">
    <v-form
      v-model="valid"
      ref="registerForm"
      lazy-validation
      class="mt-6 register-form-box custom-text-field"
    >
      <h3 class="mb-1 font-regular-36 grayScale0--text">OTP Code</h3>
      <h6 class="mb-1 font-regular-14 grayScale1--text">
        Enter the verification code that was sent to
      </h6>
      <router-link to="/auth/reset-password">
        <h6 class="mb-6 font-regular-14 primaryLight--text">
          hanasmith@gmail.com <v-icon size="18">$EditIcon</v-icon>
        </h6>
      </router-link>
      <v-text-field
        filled
        flat
        dense
        height="56"
        label="OTP code"
        v-model="form.otp"
      ></v-text-field>
      <v-row justify="center">
        <v-col cols="auto">
          <v-btn text color="primaryLight"> Resend code 2:58 seconds </v-btn>
        </v-col>
      </v-row>
      <v-btn
        x-large
        color="primary"
        dark
        to="/auth/reset-password/change-password"
        block
        class="mt-4 border-radius-12 font-medium-14"
      >
        Confrim
      </v-btn>
      <!--      <v-row
        class="mb-7 mt-4 grayScale0&#45;&#45;text font-regular-14"
        justify="center"
      >
        <span>Already have an account? </span>
        <router-link
          to="/auth/login"
          class="primaryLight&#45;&#45;text font-regular-14 ms-1"
          >Login</router-link
        >
      </v-row>-->
    </v-form>
  </v-row>
</v-container>
