.register-container {
  .register-form-box {
    width: 362px;
  }
}
.password-input-wrapper {
  position: relative;
  .password-validation-list {
    position: absolute;
    width: 100%;
    left: 110%;
    top: 0;
    &.rtl-mode {
      left: -110%;
    }
  }
  .bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--v-grayScale0-base);
    &.active {
      background-color: var(--v-success-base);
    }
  }
}
