<section class="fill-height gray0">
    <v-row justify="center" align="center" class="ma-0 fill-height">
        <div class="mx-auto text-center">
            <v-img src="@/assets/images/authImg.svg" width="568" height="350" class="mb-16"></v-img>
            <h3>تسویه به هر شخصی در هر بانکی که بخواهید</h3>
        <p class="body-2">تسویه پول های دریافتی به بیشمار شماره حساب دلخواه</p>
        <a href="" class="font-bold-12 primary--text">بیشتر بخوانید</a>

        </div>
        
    </v-row>
</section>